@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .fadeIn {
    animation: fadeIn 1s ease forwards;
  }
  
  .fadeOut {
    animation: fadeOut 3s ease forwards;
  }
  .img-gridItem {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .scroll-image {
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .img-caption {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .scroll-image {
      min-width: 400px;
      min-height: 170px;
    }
  }
  


  